In [1]:
#it imports and stores in memory the panda - library - which has dataset related functions
#storing it as pd
import pandas as pd

In [2]:
#dataset is the variable which holds the value of salary_dataset.csv
#pd is the class and read_csv is the function to read the csv file
dataset=pd.read_csv("Salary_dataset.csv")

In [3]:
#printing dataset variable
dataset

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [4]:
#independent variable in input values, taking input value yearsofexp in a variable called independent.
independent=dataset[["YearsExperience"]]

In [5]:
#dependent variable in output values, taking output value salary in a variable called dependent.
dependent=dataset["Salary"]

In [6]:
#dispalying just to know wtr it is saved proper in the variables
independent

    YearsExperience
0               1.2
1               1.4
2               1.6
3               2.1
4               2.3
5               3.0
6               3.1
7               3.3
8               3.3
9               3.8
10              4.0
11              4.1
12              4.1
13              4.2
14              4.6
15              5.0
16              5.2
17              5.4
18              6.0
19              6.1
20              6.9
21              7.2
22              8.0
23              8.3
24              8.8
25              9.1
26              9.6
27              9.7
28             10.4
29             10.6

In [7]:
#dispalying just to know wtr it is saved proper in the variables
dependent

0      39344.0
1      46206.0
2      37732.0
3      43526.0
4      39892.0
5      56643.0
6      60151.0
7      54446.0
8      64446.0
9      57190.0
10     63219.0
11     55795.0
12     56958.0
13     57082.0
14     61112.0
15     67939.0
16     66030.0
17     83089.0
18     81364.0
19     93941.0
20     91739.0
21     98274.0
22    101303.0
23    113813.0
24    109432.0
25    105583.0
26    116970.0
27    112636.0
28    122392.0
29    121873.0
Name: Salary, dtype: float64

In [8]:
#input , output separated sofar

In [9]:
#now split train set and test set

In [10]:
#unlike pandas which is loading entire library, here only train_test_split , we downloading
from sklearn.model_selection import train_test_split
#train 80%, test 20%
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.20, random_state=0)

In [11]:
#model_creation now
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)  #model created by this fit command

LinearRegression()

In [12]:
#output of above cell is as follows
#LinearRegression()

In [13]:
#to find the weight of model
weight=regressor.coef_
weight

array([9312.57512673])

In [14]:
#to know the bias value of model & to print it
bias=regressor.intercept_
bias

25849.84163795526

In [15]:
#to find the evaluation metrics on the input test data
y_pred=regressor.predict(x_test)

In [16]:
# to know r square metric - diff between actual value of (x_test) and predicted value of (x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [17]:
#printing r square ---> if nearly 1 , good model.  if near to 0, bad model
r_score

0.988169515729126

In [18]:
#import related library to save the model and give name to model
import pickle
filename = "finalised_model_linear.sav"

In [19]:
#saving the model command, after running this command - we can check in the folder for this newly created 
#for this newsly created model
pickle.dump(regressor, open(filename,'wb'))

In [20]:
#loading the saved model to test
loaded_model=pickle.load(open("finalised_model_linear.sav",'rb'))
#now whole model stored in loaded_model, now lest test reulst of model as follows
#testing the loaded model for a value 13 years exp
#if any warning error comes, ignore it
result=loaded_model.predict([[13]])

In [21]:
#printing the prediction for 13 years
result
#phase - 1 over,  #phase -2 -deployment should be done in new python book and starts now here

array([146913.31828543])